@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
.cabecera{
    background-color: black;
    text-align: center;
}
.cabecera_barra-busqueda{
    border-color: brown;
}