header{
    background-color: black;

    .header_uniandes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        

        .menu_uniandes{
            display: flex;
            //flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-basis: 96%;

            .menu_uniandes__logo img{
                width: 90px;
                margin-left: 100%;
            }

            .menu_uniandes__links{
                display: flex;
                flex-basis: 75%;
                justify-content: space-around;
                align-items: center;

                .menu_uniandes__links__a{
                    padding: 20px 0;
                }

                a{
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    min-width: 135px;
                    min-height: 68px;
                    text-align: center;
                    padding: 10px 0;

                    img{
                        width: 30px;
                        color: rgb(255, 255, 255);
                    }

                    &:hover{
                        background-color: rgb(255, 255, 255);
                        color: rgb(0, 0, 0);
                        transition: 0.6s;
                    }
                    &:last-child{
                        background-color: rgb(0, 0, 0);
                    }
                }

                @include responsive(tablet){
                    display: none;
                }
                @include responsive(phone){
                    display: none;
                }
            }
        }    

        .menu_uniandes__burger{
            display: none;
            @include responsive(tablet){
                display: block;
                img{
                    width: 60px;

                }
            }
            @include responsive(phone){
                display: block;
                img{
                    width: 60px;

                }
            }
        }

        .menu_busqueda__uniandes{
            display:none;
            flex-direction: row;
            align-items: center;
            float: right;
            flex-basis: 35%;
            justify-content: space-around;

            .menu_busqueda__uniandes__search{
                input[type="search"]{
                    border: 1.5px solid white;
                    border-radius: 10px;
                    color: white;
                    background-color: transparent;
                    padding: 0.2px 8px;
                    width: 250px;
                }
            }

            .menu_busqueda__uniandes__links{
                display: flex;
                a{
                    padding: 0 12px;
                    color: white;
                    text-decoration: none;
                }
            }
            @include responsive(tablet){
                display: none;
            }
            @include responsive(phone){
                display: none;
            }
        }
    }
}