header{
    background-color: black;

    .header_uniandes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        

        .menu_uniandes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-basis: 60%;

            .menu_uniandes__logo img{
                width: 80px;
                margin-left: 100%;
            }

            .menu_uniandes__links{
                display: flex;
                flex-basis: 65%;
                justify-content: space-around;
                align-items: center;


                .menu_uniandes__links__a{
                    margin-right: 15px;
                }

                a{
                    padding: 0 12px;
                    color: white;
                    text-decoration: none;
                }

                @include responsive(tablet){
                    display: none;
                }
                @include responsive(phone){
                    display: none;
                }
            }
        }    

        .menu_uniandes__burger{
            display: none;
            @include responsive(tablet){
                display: block;
                img{
                    width: 60px;

                }
            }
            @include responsive(phone){
                display: block;
                img{
                    width: 60px;

                }
            }
        }

        .menu_busqueda__uniandes{
            display:flex;
            flex-direction: row;
            align-items: center;
            float: right;
            flex-basis: 35%;
            justify-content: space-around;

            .menu_busqueda__uniandes__search{
                input[type="search"]{
                    border: 1.5px solid white;
                    border-radius: 10px;
                    color: white;
                    background-color: transparent;
                    padding: 0.2px 8px;
                    width: 250px;
                }
            }

            .menu_busqueda__uniandes__links{
                display: flex;
                a{
                    padding: 0 12px;
                    color: white;
                    text-decoration: none;
                }
            }
            @include responsive(tablet){
                display: none;
            }
            @include responsive(phone){
                display: none;
            }
        }
    }
}