.title_slider_anuncios{
    text-align: center;

    h2{
        font-weight: 700;
        font-size: 40px;
        color: rgb(37, 37, 54);
    }

}

.container_slider_anuncios{
    margin: auto;
    width: 1200px;
    padding: 30px;
    display: flex;
    position: relative;

    .container_slider_anuncios__content{
        display: flex;
        position: relative;
        width: 1200px;
        height: 300px;
        justify-content: center;

        .container_items{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            input[type="radio"]{
                display: none;
            }
            .container_items__img{
                height: 200px;
                opacity: 0;
                position: absolute;
                left: 0;
                top:0;
                width: 50%;

                img{
                    width: 100%;
                    height: inherit;
                }
            }
            .container_items__content{
                opacity: 0;
                position: absolute;    
                right: 0;
                top: 5%;            
                width: 50%;
                height: 95%;
                
                h3{
                    padding: 0 20px;
                    border-top: 3.5px solid blue;
                }
                p{
                    padding: 5% 20px;
                }
                button{
                    background-color: transparent;
                    width: 20%;
                    border: 2px solid rgb(47, 85, 255);
                    color: white;
                    float: right;
                    margin-right: 10%;
                }
            }

            input[type="radio"]:checked ~ .container_items__img{
                opacity: 1;
            }
            input[type="radio"]:checked ~ .container_items__content{
                opacity: 1;
            }

            input[type="radio"] + label{
                margin: 8px;
                display: block;
                background-color: rgb(255, 255, 255);
                border: 0.5px solid rgb(31, 31, 197);
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
            input[type="radio"]:checked + label{
                background-color: rgb(128, 126, 226);
            }

        }
        
    }
}