.title_slider_anuncios{
    text-align: center;

    h2{
        font-weight: 700;
        font-size: 40px;
        color: rgb(37, 37, 54);
    }

}

.container_slider_anuncios{
    margin: auto;
    width: 1200px;
    padding: 30px;
    display: flex;
    position: relative;
    @include responsive(tablet){
        width: 100%;
    }

    .container_slider_anuncios__content{
        display: flex;
        position: relative;
        width: 1200px;
        height: 300px;
        justify-content: center;
        @include responsive(tablet){
            height: 450px;
        }

        .container_items{
            display: flex;
            align-items: flex-end;

            @include responsive(desktop-xl){
                justify-content: space-between;
            }

            @include responsive(desktop){
                justify-content: space-between;
            }
            @include responsive(tablet){
                justify-content: center;
            }

            input[type="radio"]{
                display: none;
            }
            .container_items__img{

                @include responsive(desktop-xl){
                    height: 200px;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 50%;
                }

                @include responsive(desktop){
                    height: 200px;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 50%;
                }

                @include responsive(tablet){
                    width: 100%;
                    height: 210px;
                    position: absolute;
                    padding: 10px;
                    top: 0;
                    left: 0;
                    opacity: 0 ;
                }

                img{
                    width: 100%;
                    height: inherit;
                }
            }
            .container_items__content{

                @include responsive(desktop-xl){
                    opacity: 0;
                    position: absolute;    
                    right: 0;
                    top: 5%;            
                    width: 50%;
                    height: 95%;
                }

                @include responsive(desktop){
                    opacity: 0;
                    position: absolute;    
                    right: 0;
                    top: 5%;            
                    width: 50%;
                    height: 95%;
                }

                @include responsive(tablet){
                    //margin-top: 2%;
                    border-top:3.5px solid blue ;
                    position: absolute;
                    //top: 200px;
                    width: 100%;
                    height: 230px;
                    left: 0;
                    top: 224px;
                    opacity: 0;
                }
                
                h3{
                    margin: 0 10px;
                    padding: 4% 20px;

                    @include responsive(desktop-xl){
                        border-top: 3.5px solid blue;
                        display: inline-block;
                        width: 90%;
                    }

                    @include responsive(desktop){
                        border-top: 3.5px solid blue;
                        display: inline-block;
                        width: 90%;
                    }

                }
                p{
                    padding: 0 20px;
                }
                button{
                    width: 20%;
                    border: 2px solid rgb(47, 85, 255);
                    color: white;
                    background-color: transparent;
                    float: right;

                    @include responsive(desktop-xl){
                        margin-right: 10%;
                    }

                    @include responsive(desktop){
                        margin-right: 10%;
                    }
                    @include responsive(tablet){
                        width: 12%;
                    }
                }
            }

            input[type="radio"]:checked ~ .container_items__img{
                opacity: 1;
            }
            input[type="radio"]:checked ~ .container_items__content{
                opacity: 1;
            }

            input[type="radio"] + label{
                margin: 8px;
                display: block;
                background-color: rgb(255, 255, 255);
                border: 0.5px solid rgb(31, 31, 197);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                z-index: 50;
            }
            input[type="radio"]:checked + label{
                background-color: rgb(128, 126, 226);
            }

        }
        
    }
}